.logo{
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 6px 6px 0px #555555;
    background-color: aqua;
    width:300px;
    margin:0 auto;
}
h1{
    text-align: center;
    margin: 2px;
    font-size:50px;
    font-weight: bold;
}
.odau1{
    text-align: center;
}
.odau2{
    text-align: center;
    margin-bottom:0;
}
.dai{
    width:215px;
}
.trung{
    width:150px;
}
.nho{
    width:32px;
}
textarea{
    width:92%;
    height:90px;
    resize:none;
}
.nut{
    margin:0 auto;
    cursor: pointer;
    border:1px solid #707070;
    border-radius: 2px;
}
input[type="radio"]{
    accent-color: green;
    cursor: pointer;
}
.luidaudong td:first-child{
    padding-left: 70px;
}
